@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post" asp-action="Login" asp-controller="Home">
    <label>Login: </label>
    <input type="text" name="login"/><br /><br />
    <label>Password: </label>
    <input type="password" name="password"/><br /><br />
    <input type="submit" value="Enter" class="btn btn-info"/>
</form>
