@using SportSite.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CreateAccountCoachView
<h4>Account</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-5">
        <form asp-action="CreateAccountCoach">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateCode" class="control-label"></label>
                <input asp-for="CreateCode" class="form-control bg-success" />
                <span asp-validation-for="CreateCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Login" class="control-label"></label>
                <input asp-for="account.Login" class="form-control" />
                <span asp-validation-for="account.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Password" class="control-label"></label>
                <input asp-for="account.Password" class="form-control" />
                <span asp-validation-for="account.Password" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="account.Client.Name" class="control-label"></label>
                <input asp-for="account.Client.Name" class="form-control" />
                <span asp-validation-for="account.Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Client.Surname" class="control-label"></label>
                <input asp-for="account.Client.Surname" class="form-control" />
                <span asp-validation-for="account.Client.Surname" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="account.Client.Age" class="control-label"></label>
                <input asp-for="account.Client.Age" class="form-control" />
                <span asp-validation-for="account.Client.Age" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="account.Client.Tel" class="control-label"></label>
                <input asp-for="account.Client.Tel" class="form-control" />
                <span asp-validation-for="account.Client.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Client.Email" class="control-label"></label>
                <input asp-for="account.Client.Email" class="form-control" />
                <span asp-validation-for="account.Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Client.Gender" class="control-label"></label>
                <select asp-for="account.Client.Gender" asp-items=" Html.GetEnumSelectList(typeof(Gender))" class="form-control"></select>
                <span asp-validation-for="account.Client.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Type Sport</label>
                <select asp-for="IdService" asp-items="ViewBag.Services" class="form-control"></select>
                <span asp-validation-for="account.Client.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control" placeholder="A specialist in a certain type of sport"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
