@using SportSite.Areas.Edit.Componets
<h2>Trainings</h2>
<component type="typeof(Component)" render-mode="ServerPrerendered"/>
@*<div>
    @(await Html.RenderComponentAsync<SportSite.Areas.Edit.Componets.Component>(RenderMode.ServerPrerendered))
</div>*@
